<h4>{{ view.name }} (<span id="{{ canvas }}_count">Calculating...)</span></h4>
<div id="screen_canvas" style="height: 200px;"></div>

<script>
    $(document).ready(function()
    {
        Highcharts.setOptions({
        	global: {
        		useUTC: false
        	}   
        });
        
        var data = {};
        data.database = '{{ view.value.database }}';
        data.table = 'ScreenProbe';
        data.timestamp = 'timestamp';
        data.columns = 'SCREEN_ACTIVE';
        
        $.ajax('/fetch',
        {
            data: data,
            dataType: 'json',
            type: 'GET',
            success: function(data, textStatus, jqXHR)
            {
                var pendingCount = { name: 'Screen Active', data:[] };
                
                var i = 0;
                for (i = 0; i < data.length; i++)
                {
                    var reading = data[i];
                    
					var priorData = [];
					priorData.push((reading['timestamp'] * 1000) - 1);
					
					if (reading['SCREEN_ACTIVE'])
	                    priorData.push(0);
					else
	                    priorData.push(1);
					
                    var seriesData = [];
                    seriesData.push(reading['timestamp'] * 1000);
					
					if (reading['SCREEN_ACTIVE'])
	                    seriesData.push(1);
					else
	                    seriesData.push(0);
                    
                    pendingCount.data.push(priorData);
                    pendingCount.data.push(seriesData);
                }
                
                var chart = new Highcharts.Chart(
                {
                    chart:
                    {
                        renderTo: 'screen_canvas',
                        type: 'line',
						zoomType: 'x'
                    },
                    title: { text: null },
                    legend: { enabled: false },
                    credits: { enabled: false },
                    plotOptions:
                    {
                        line:
                        {
                            marker: { enabled: false }
                        }
                    },
                    xAxis:
                    { type: 'datetime' },
                    yAxis:
                    {
                        title:
                        { text: null },
                        min: 0
                    },
                    series: [ pendingCount ]
                });
            }
        });
    });
</script>

<!-- [{"timestamp":1358287695,"THROUGHPUT":1144.5,"PENDING_COUNT":8,"PENDING_SIZE":3456},{"timestamp":1358287755,"THROUGHPUT":1144.5,"PENDING_COUNT":9,"PENDING_SIZE":4048}] -->