<div id="hashGenerator" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
        <h3 id="myModalLabel">MD5 Hash Generator</h3>
    </div>
    <div class="modal-body">
        <input type="text" placeholder="Orginal Text" style="width: 95%;" id="hashOriginal"/><br />
        <input type="text" placeholder="MD5 Hash" style="width: 95%;" id="hashString" />
    </div>
    <div class="modal-footer">
        <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
        <button class="btn btn-primary" id="generateHash">Generate Hash</button>
    </div>
</div>
