{% extends 'base.html' %}

{% block title %}Hash Lookup Tool{% endblock %}

{% block head_content %}
	<style type="text/css">
		a.user_item_selected {
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block header_script %}
	$(document).ready(function()
	{

	});
{% endblock %}

{% block sidebar %}
	<ul class="nav nav-list">
		<li class="nav-header">Choose View</li>
		<li><a href="/users">By User</a></li>
		<li><a href="/groups">By Group</a></li>
		<li><a href="/probes">By Probe</a></li>
		<li class="nav-header">Tools</li>
		<li class="active"><a href="/md5">Batch Lookup Tool</a></li>
	</ul>
{% endblock %}

{% block content %}
	<div id="hashChecker">
		<form action="/md5/lookup" method="POST">
		    <h3 id="myModalLabel">Verify Hashes</h3>
		    <p>Enter unhashed identifiers in the field below to verify existence in the database.</p>
		    <textarea style="width: 95%; height: 12em;" name="identifiers"></textarea>
		    <button class="btn btn-primary" id="lookupHashes">Lookup Hashes</button>
		</form>
	</div>
{% endblock %}
