{% extends 'base.html' %}

{% block title %}{{ user.id }}{% endblock %}

{% block head_content %}
	<script src="//crypto-js.googlecode.com/svn/tags/3.1.2/build/rollups/md5.js"></script>
	<style type="text/css">
		a.user_item_selected {
			font-weight: bold;
		}
	</style>
{% endblock %}

{% block header_script %}
	$(document).ready(function()
	{
		$("#generateHash").click(function generateHash(eventObj)
		{
			var original = $("#hashOriginal").val();
			var hash = CryptoJS.MD5(original);
			
			while (hash.length < 32)
				hash = "0" + hash;
				
			$("#hashString").val(hash);
			
			$("a.user_item").removeClass("user_item_selected");
			
			$("a[title=" + hash + "]").addClass("user_item_selected");
		});
		
		$("#hashString").prop("readonly", "true");
		
		$("a[title={{ user.id }}]").parent().addClass("active");
	});
{% endblock %}

{% block sidebar %}
	<ul class="nav nav-list">
		<li class="nav-header">Choose View</li>
		<li class="active"><a href="/users">By User</a></li>
		<li><a href="/groups">By Group</a></li>
		<li><a href="/probes">By Probe</a></li>
		<li class="nav-header">Tools</li>
		<li><a href="#hashGenerator" data-toggle="modal">Generate MD5 Hash</a></li>
		<li class="nav-header">All Users</li>
		{% for table in databases %}
			<li><a href="/user/{{ table }}" title="{{ table }}" class="user_item">{{ table|truncate(18) }}</a></li>
		{% endfor %}
	</ul>
{% endblock %}

{% block content %}
	<h2>{{ user.id }}</h2>
	<div class="row-fluid">
		<ul>
			{% for table in user.tables %}
				{% if table %}
					{% set content = table.render() %}
					<li>{{ content }}</li>
				{% endif %}
			{% endfor %}
		</ul>
	</div>
	
	{% include "hash_form.html" %}
{% endblock %}
